body{ margin: 0; padding: 0; font-family: 'Open Sans', sans-serif;}
img{ max-width: 100%; }
*{ box-sizing: border-box; }
.clear{ clear:both; }
/*----header_section----*/
.menu{ margin:0 ; padding: 20px 50px; background-color:#000;  }
   	.menu li{ display: inline-block; font-size: 14px; color: #fff; 
   	    padding:0 10px ; 
   	    text-transform: uppercase;
   	     font-weight: 600;
   	      float: right;
   	      cursor: pointer;
   	  }

.menu .logo{  color: #fff;  text-transform: uppercase; cursor: pointer;}
.banner_section{ position: relative; }
.text_box{
	position: absolute;
	padding: 20px;
	margin: 0 auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}

.first-h {
    font-size: 42px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 3px;
    font-family: 'Roboto', sans-serif;
   
}
.para_first {
    color: #fff;
    text-transform: capitalize;
    font-size: 31px;
    font-weight: 300;
    font-family: 'Ma Shan Zheng', cursive;
}

.btn_first {
    padding: 10px 40px;
    background-color: #f7931d;
    color: #fff;
    outline: none;
    border: none;
    font-family: 'Roboto', sans-serif;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 1px;
    transition: 0.5s;

}


.btn_first:hover{  
	box-shadow: 200px 0 #fff inset;
	color: #f7931d;
    

}

.owl-carousel .owl-nav button.owl-prev{
    position: absolute;
    left: 10%;
    top: 50%;
    font-size: 30px;
    color: #fff;
    outline: none !important;
}

.owl-carousel .owl-nav button.owl-next{
	 position: absolute;
    right: 10%;
    top: 50%;
    font-size: 30px;
    color: #fff;
     outline: none !important;
}

.owl-dots{ display: none; }




.card {
  display:inline-block;
  float:left;
  width:300px;
  height:175px;
  margin:15px;
  padding-top:5%;
  text-align:center;
  border: 1px solid grey;
  background-color:#575594;
  color:white;
  font-family:'Helvetica';
  cursor:pointer;
}

.card:hover {
  background-color:rgba(87, 85, 148, 0.75);
  color:black;
  transition: 0.5s ease all;
  -webkit-transition: 0.5s ease all;
}
.reset {
  display:block;
  width:50px;
  height:1.25em;
  color:white;
  text-align: center;
  background-color:rgba(87, 85, 148, 0.75);;
  position:absolute;
  bottom:2em;
  right:25px;
  cursor:pointer;
}

.reset:hover {
  color: rgba(255,255,255,0.75);
}




#shiva
{
  width: 100px;
	height: 100px;
	background: red;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
  float:left;
  margin:5px;
}
.count
{
  line-height: 100px;
  color:white;
  margin-left:30px;
  font-size:25px;
}
#talkbubble {
   width: 120px;
   height: 80px;
   background: red;
   position: relative;
   -moz-border-radius:    10px;
   -webkit-border-radius: 10px;
   border-radius:         10px;
  float:left;
  margin:20px;
}
#talkbubble:before {
   content:"";
   position: absolute;
   right: 100%;
   top: 26px;
   width: 0;
   height: 0;
   border-top: 13px solid transparent;
   border-right: 26px solid red;
   border-bottom: 13px solid transparent;
}

.linker
{
  font-size : 20px;
  font-color: black;
}






