<! DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Event Registration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	

</head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
<body>
<!---<h3> Guru99 Global Event</h3>--->


<div ng-app = "mainApp" ng-controller = "DemoController">

   <!--- <p>Result: {{result}}</p>--->

    <ul class="menu">
    	<span class="logo"> logo</span>

      <li ng-repeat="x in names">{{x}}</li>
</ul>
<div class="banner_section">
	<div ng-module="DemoController" class="demo-slider owl-carousel">
		<div> <img src="images/banner-1.jpg">
			<div class="text_box">
				<h1 class="first-h">online <span style="color: #f7931d;">design</span> solution</h1>
				<p class="para_first"> more than eighteen templates in one packege</p>
				<button class="btn_first">live demo</button>
			</div>
		</div>
		<div> <img src="images/banner-2.jpg">
			<div class="text_box">
				<h1 class="first-h">online <span style="color: #f7931d;">design</span> solution</h1>
				<p class="para_first"> more than eighteen templates in one packege</p>
				<button class="btn_first">live demo</button>
			</div>
		</div>
	</div>
	
</div>

<div class="container">
<section>
	<div>about</div>
	<div ng-repeat="card in cards" class="card" style="background:{{card.Color}}" ng-click="cards.splice($index,1)">
            {{card.Name}} <br />
            {{card.Occupation}} <br />
            {{card.Employer}}
        </div>
      <br />
      <span class="reset" ng-click="setCards()">Reset</span>
</section>

</div>

</div>

<div ng-include="'../index-box/img.html'"></div>

<div class="container">
	
<div class="row">
	<div class="col-sm-3">
		<div><div id="shiva"><span class="count">200</span></div></div>
	</div>

	<div class="col-sm-3">
		<div><div id="shiva"><span class="count">200</span></div></div>
	</div>

	<div class="col-sm-3">
		<div><div id="shiva"><span class="count">200</span></div></div>
	</div>

	<div class="col-sm-3">
		<div><div id="shiva"><span class="count">200</span></div></div>
	</div>
</div>

</div>





<script>
    var mainApp = angular.module("mainApp", []);

    mainApp.service('AdditionService', function(){
        this.ADDITION = function(a,b) {
            return a+b;
        }
    });

    mainApp.controller('DemoController', function($scope, AdditionService) {

            $scope.result = AdditionService.ADDITION(5,6);
            $scope.names = ["home", "about", "blog", "news", "contact"];
             $scope.cards = [
        {
            Name: "Alfred",
            Occupation: "Butler",
            Employer: "Batman",
            Color: "red"
        },
        {
            Name: "Jane",
            Occupation: "Queen of Jungle",
            Employer: "Tarzan"
        },
        {
            Name: "Aladdin",
            Occupation: "Beggar Prince",
            Employer: "Self-Employed"
        },
        {
            Name: "Bill Gates",
            Occupation: "Bajillionaire",
            Employer: "Microsoft"
        },
        {
            Name: "Bill Gates",
            Occupation: "Bajillionaire",
            Employer: "Microsoft"
        },
        {
            Name: "Bill Gates",
            Occupation: "Bajillionaire",
            Employer: "Microsoft"
        },
        {
            Name: "Bill Gates",
            Occupation: "Bajillionaire",
            Employer: "Microsoft"
        },
        {
            Name: "Manny",
            Occupation: "Code Monkey",
            Employer: "Jolera"
        }]
    
    });


    
</script>


<script type="text/javascript">

	$('.demo-slider').owlCarousel({
    loop:true,
    margin:10,
    nav:true,
    autoplay:true,
   autoplayTimeout:9000,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:1
        },

        1000:{
            items:1
        }
    }
})
</script>

<script >
	$('.count').each(function () {
    $(this).prop('Counter',0).animate({
        Counter: $(this).text()
    }, {
        duration: 4000,
        easing: 'swing',
        step: function (now) {
            $(this).text(Math.ceil(now));
        }
    });
});
</script>



</body>
</html>